<form action="/tamagotchi" method="post">
  <div class="form-group">
    <label for="name">What is your pet's name?</label>
    <input class="form-control" type="text" name="name">
  </div>
  <button type="submit" class="btn">Set</button>
</form>
